.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.createbtn {
  background-color: aqua;
  /*font-family: 'Shadows Into Light', cursive;
  font-size: 2vw;*/
}
.nostyle {
  padding: 0;
  border: none;
  background: none;
}

.hidethem {
  display: none;
}

.showthem {
  display: initial;
}

.save {
  background-color: red;
  color: white;
  font-weight: bolder;
  /*font-family: 'Shadows Into Light', cursive;
  font-size: 2vw;*/
}